* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 600px;
  margin: auto;
  padding: 40px 0;
}

.intro-chunk {
  margin-left: 30px;
}

.intro-chunk strong {
  color: #009966;
}

.intro-chunk p {
  font-size: 1.2rem;
  max-width: 300px;
}

header {
  /* margin-left: 15px; */
  border-bottom: 5px solid #666666;
}

main {
  background-color: #999999;
}

.indented-heading {
  background-color: #ffc000;
  border-bottom: 5px solid #CC9900;
  max-width: max-content;
  padding: 15px 40px;
  /* padding-left: 40px; */
  margin-left: -10px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -0.06rem;
}

.card {
  max-width: 100%;
  background-color: white;
  border-bottom: 5px solid #666666;
  border-top: 0;
  /* padding: 1px 15px 15px 15px; */
  padding: 0.1rem 25px 0 0;
  /* margin-left: -30px; */
}

.card p {
  padding-left: 30px;
}
